.LogoSearch{
    display: flex;
    gap:0.75rem;
  }
  img{
    height: 2rem;
    width: 2rem;
  }
  
  .Search{
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
  }
  
  .Search>input{
    background-color: transparent;
    border:none;
    outline: none;
    width: 90%;
  }
  
  .s-icon{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image:#10c0f3;
    border-radius: 5px;
    padding: 4px;
    color: white;
  }
  
  .s-icon:hover{
    cursor: pointer;
  }