.InfoCard{
    display: flex;
    flex-direction: column;
    gap:0.75rem;
    background-image: var(--BGI);
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    color: aliceblue;
  }
  
  .infoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .infoHead>div:hover{
    cursor: pointer;
  }
  
  .logout-button{
    width: 7rem;
    height: 2rem;
    margin-top: 3rem;
    position: relative;
    left:120px;
    background-image: var(--inputButton);
  }

  .logout-button:hover{
    cursor: pointer;
  }

  .ProfileImages{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .ProfileImages>img:nth-of-type(1){
    width: 100%;
  }
  
  .ProfileImages>img:nth-of-type(2){
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
  }
  